---
layout: home
title: noRoof development
subtitle: Home
---
<header class="home-header">
  <nav>
    <div class="title">
      <img src="{{ "/assets/img/fulllogo.png" | relative_url }}" alt="noRoof development">
    </div>
    <div class="sections site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {% for item in site.data.header %}
            {%- assign my_page = item -%}
            {%- if my_page.name -%}
            <a class="page-link" {% if page.url == my_page.link %}class="current"{% endif %} href="{{ my_page.link | relative_url }}">{{ my_page.name | escape }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
    </div>
  </nav>
  <div class="banner">
    <div class="banner-text">
      <h1>Developing software to bring solutions for real problems</h1>
      <h3>We craft high-quality software to build products and bring solutions to our <s>clients</s> partners</h3>
    </div>
    <div class="banner-image-container">
      <img src="{{ "/assets/img/headerimage.png" | relative_url }}" alt="Solving problems">
    </div>
  </div>
</header>
<main>

  <section id="services">
    <h2>What we can do</h2>
    {% assign sortedServices = site.services | sort: 'position' %}
    {% for article in sortedServices %}
    <article id="{{article.serviceId}}">      
        {{article.content}}
    </article>
    {% endfor %}
  </section>

  <section id="process">
    <h2>How we work</h2>
    <h3>&quot;We don’t just work for you, we work with you.&quot;</h3>
    <p>This is the best way to describe how we work. We truly believe that communication and 
      cooperation are the keys to a successful job. You know about your business, your new product 
      ideas and your problems.We are passionate about technology and how to use it to solve problems 
      and to bring new products to life. Let’s work together!
    </p>
    <div class="two-columns">
      {% for article in site.process %}
      <article id="{{article.processId}}" class="vertical-card card">
        {{article.content}}
      </article>
      {% endfor %}
    </div>
  </section>
  <section id="past-experience">
    <h2>Our experience</h2>
    <p>After years of professional experience, we have worked and learned from different projects 
      across several industries. These have helped us bring better solutions to our future enterprises.</p>

    <div class="two-columns">
      {% assign sortedExperience = site.experience | sort: 'identifier' %}
      {% for article in sortedExperience %}
      <article class="card">
        {{article.content}}
      </article>
      {% endfor %}
    </div>

  </section>
  <section id="why-us">
    <article class="card">
      {% for article in site.why %}
      {{article.content}}
      {% endfor %}
    </article>
  </section>
  <section id="contact">
    <div class="contact-header">
      <h2>Get in touch</h2><img class="show-small" src="{{ "/assets/img/mailbox.png" | relative_url }}" alt="noRoof development">
    </div>
    <p>If you want to talk about your next project, or you need some help with the one in progress,feel free to contact us at <span id="replace">javascript is not enabled, please use the contact form.</span>
      or to write a message below.</p>
    <div class="form-container">
      <form class="contact-form" action="https://formspree.io/mbjkrvnz" method="post">
        <div class="form__group col-6 padding-right">
          <input type="text" id="name" name="name" required maxlength="250" class="form__field" placeholder="Your Name">
          <label for="name" class="form__label">Your Name</label>
        </div>
        <div class="form__group col-6">
          <input type="email" id="email" name="_replyto" required maxlength="250" class="form__field" placeholder="Your Email">
          <label for="email" class="form__label">Your Email</label>
        </div>
        <div class="form__group col-12">
          <input type="text" id="subject" name="subject" required maxlength="250" class="form__field" placeholder="Subject">
          <label for="subject" class="form__label">Subject</label>
        </div>
  
        <div class="form__group col-12">
          <textarea id="message" class="form__field" placeholder="Your Message" required maxlength="2500" name="message" rows="5"></textarea>
          <label for="message" class="form__label">Your Message</label>
        </div>
        <input type="hidden" name="_next" value="https://noroofdevelopment.com/thanks.html" />
        <input type="text" name="_gotcha" style="display:none" />
        <div class="form-buttons">
          <button class="contact-btn" type="submit">Send</button>
        </div>
      </form>
      <div class="image-container">
        <img class="hide-small" src="{{ "/assets/img/mailbox.png" | relative_url }}" alt="noRoof development">
      </div>
    </div>
  </section>
</main>
<script>
  var innerEmail = document.getElementById('replace')
  const emailE = ('hi@' + 'noroofdevelopment.com');
  innerEmail.innerHTML = '<a href="mailto:' + emailE + '">' + emailE + '</a>';
</script>