<header role="banner">

  <nav class="fixed-nav">
    <div class="title">
      <a href="{{ "/index.html" | relative_url }}"><img src="{{ "/assets/img/logofinal.png" | relative_url }}" alt="noRoof development"></a>
    </div>
    <div class="sections">
      <ul>
        <li><a href="{{ "/index.html#services" | relative_url }}">Services</a></li>
        <li><a href="{{ "/index.html#past-experience" | relative_url }}">Experience</a></li>
        <li><a href="{{ "/index.html#contact" | relative_url }}">Get in touch</a></li>
      </ul>
    </div>
  </nav>
</header>