/**
 * Site header
 */
header.site-header {
  // border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid var(--color-header);
  min-height: 4rem;
  // Positioning context for the mobile navigation icon
  position: fixed;
  width: 100%;  
  background-color: var(--color-header);
  z-index: 1;
  .wrapper {
    display: flex;
    // justify-content: space-around;
    .profile {
      flex: 1;
      display: flex;
      .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0.5rem;
        img {
          border-radius: 50%;
          max-width: 3rem;
        }
      }
      .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 24px;
          margin-bottom: 0;
          line-height: 1;
        }
        h2 {
          font-size: 20px;
          margin-bottom: 0;
          line-height: 1;
          margin-top: 0.1rem;
        }
      }
    }
  }
}

header.home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  .banner {
    flex: 1;
    margin: 0 12%;
    display: flex;
    justify-content: space-between;
    .banner-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0.6;
      h1 {
        color: $primary-green;
      }
      p {
        color: $primary-green;
      }
    }
    .banner-image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0.3;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  .title {
    display: flex;
    img {
      height: 50px;
    }
  }
  &.fixed-nav {
    position: fixed;
    background-color: #e0eafc; /* fallback for old browsers */
    border-bottom: 1px solid $grey-color-light;
    width: calc(100% - 2rem);
    z-index: 1;
  }
  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}

section {
  padding: 1rem 8rem 2rem 8rem;

  h2 {
    text-align: center;
    color: $primary-green;
  }

  h3 {
    color: $primary-green;
  }

  article.card {
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    padding: 1rem;
    color: #737373;
    border-radius: 4px;
    position: relative;
  }

  &#process {
    background-color: lavender;
    h3 {
      text-align: center;
    }
    article {
      h3 {
        text-align: left;
      }
    }
  }

  &#why-us {
    background-color: aliceblue;
    article.card {
      background-color: ivory;
    }
  }

  .two-columns {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .vertical-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        max-width: 250px;
        width: 100%;
        padding-bottom: 1rem;
      }

      .image-container {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    display: inline;
  }

  img {
    margin-left: 3rem;
    width: 100px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  .col-6 {
    width: 45%;
  }

  .col-12 {
    width: 100%;
  }

  label {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    input {
      width: 100%;
      height: 1.5rem;
    }

    textarea {
      width: 100%;
      height: 3rem;
    }
  }
  
  .form-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    
    .contact-btn {
      background-color: $primary-green;
      padding: 1rem 4rem;
      border-radius: 25px;
      color: white;
      border: 0;
      cursor: pointer;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  //max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  margin-top: 60px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

section {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    
    article {
      box-sizing: border-box;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      padding: 1rem;
      color: #737373;
      border-radius: 4px;
      position: relative;
      h4 {
        font-weight: 500;
      }
      span.period {
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
    }

    @include media-query($on-palm) {
      grid-template-columns: 1fr;
    }
  }
  &.meetups {
    background-color: #E3F2FD;
  }
  &.introduction {
    background-color: var(--color-header);
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
