<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {{ content }}

    {%- include footer.html -%}

  </body>
  <script>
    let scrollpos = window.scrollY
    const header = document.querySelector("nav")
    const header_height = document.querySelector("header").offsetHeight
    const frontend = document.querySelector("#front-end")
    const frontend_height = document.querySelector("#front-end").offsetHeight
    const backend = document.querySelector("#back-end")
    const backend_height = document.querySelector("#back-end").offsetHeight
    const consultancy = document.querySelector("#consultancy")
    const consultancy_height = document.querySelector("#consultancy").offsetHeight
    const bi = document.querySelector("#business-intelligence")
  
    const services_height = document.querySelector("#services").offsetHeight
    const products = document.querySelector("#products")
    const development = document.querySelector("#development")
    const add_class_on_scroll = () => header.classList.add("fixed-nav")
    const remove_class_on_scroll = () => header.classList.remove("fixed-nav")
    const add_show_class_on_scroll = (element) => element.classList.add("show")
  
    window.addEventListener('scroll', function() { 
      scrollpos = window.scrollY;
  
      if (scrollpos >= header_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
  
      if (scrollpos >= 220) { add_show_class_on_scroll(frontend) }

      if (scrollpos >= (220 + frontend_height)) { add_show_class_on_scroll(backend) }

      if (scrollpos >= (220 + frontend_height + backend_height)) { add_show_class_on_scroll(consultancy) }

      if (scrollpos >= (220 + frontend_height + backend_height + consultancy_height)) { add_show_class_on_scroll(bi) }

      if (scrollpos >= (400 + services_height)) {
        add_show_class_on_scroll(products)
        add_show_class_on_scroll(development)
      }

    })
  </script>
</html>
