<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {{ content }}

    {%- include footer.html -%}

  </body>
  <script>
    let scrollpos = window.scrollY
    const header = document.querySelector("nav")
    const header_height = document.querySelector("header").offsetHeight
  
    const add_class_on_scroll = () => header.classList.add("fixed-nav")
    const remove_class_on_scroll = () => header.classList.remove("fixed-nav")
  
    window.addEventListener('scroll', function() { 
      scrollpos = window.scrollY;
  
      if (scrollpos >= header_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
  
      console.log(scrollpos)
    })
  </script>
</html>
